* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background: #b6d3fd;
    text-align: center;
    color: #555;
    background-size: cover;
    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    margin-top: 1em
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
    margin-top: 3rem;
}

.board {
    background: #fbe2bd;
    margin: 5rem auto;
    display: flex;
    border: 1.0px solid #bbb;
    box-shadow: 0 0 5px #bbb;
    width: 1000px;
    height: 260px;
    max-width: 100%;
    resize: both;
    overflow-x: auto;
    border-radius: 25px
}

.rows {
    flex: 7;
    display: flex;
    flex-direction: column
}

.larger-pit {
    border-radius: 60px
}

.pit {
    flex: 1;
    border-radius: 40%
}

.row,
.store {
    flex: 1
}

.row {
    display: flex
}

.row.player-two {
    flex-direction: row-reverse
}

.pit,
.larger-pit {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.250);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    cursor: default;
    opacity: 0.5;
}

.larger-pit {
    opacity: 1;
}

button {
    cursor: pointer;
    padding: 7px 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1rem;
    color: #555;
    background: #f7f7f7;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08)
}

button:hover {
    background: #fafafa;
    color: #23282d;
}

.turn-style {
    pointer-events: all;
    opacity: 1;
}

.turn-style:hover {
    background-color: rgba(0, 0, 0, .10);
    cursor: pointer
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal {
    border-radius: 1rem;
    background: #bbb;
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.player-one.larger-pit,
#player-context-one .pit p {
    color: black;
}

.player-two.larger-pit,
#player-context-two .pit p {
    color: black;
}
